body {
  font-size: 62.5%;
  font-family: Outfit;
}

h1,
h2,
h3 {
  font-family: "Young Serif";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#omelette-img {
  width: 100%;
}

.elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 9px;
  width: 90%;
  margin: 10px;
}

h1 {
  align-self: flex-start;
  font-size: 2.5rem;
}

h2 {
  align-self: flex-start;
  font-size: 2rem;
  color: hsl(14, 45%, 36%);
}

h4 {
  margin-left: 15px;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 600;
  color: hsl(332, 51%, 32%);
}

p,
li {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
}

.preparation {
  width: 95%;
  height: 11rem;
  background-color: hsl(330, 100%, 98%);
  border-radius: 15px;
}

hr {
  height: 1px;
  width: 100%;
  color: black;
}

ol {
  align-self: flex-start;
}

strong {
  font-size: 23px;
}

table {
  font-size: 1.5rem;
  border-collapse: collapse;
  width: 90%;
}

td,
tr {
  border-bottom: 0.5px solid black;
  border-collapse: collapse;
  padding: 8px;
}

.nutrition {
  color: hsl(14, 45%, 36%);
}
